page-enter-active, .page-leave-active {
  transition: all .25s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes translocate_1 {
  0% {
    background-color: #FF0000;
    margin-left: 100px;
    opacity: .05;
  }
  33% {
    background-color: #FFC000;
    margin-left: 300px;
    margin-top: 100px;
    opacity: 0.1;
  }
  66% {
    background-color:#FFFC00;
    margin-left: 10px;
    margin-top: 400px;
    opacity: .05
  }
  100% {
    background-color:#FF00FF;
    opacity: 0;
  }
}

@keyframes translocate_2 {
  0% {
    background-color: #FFFC00;
    margin-left: -100px;
    opacity: .05;
  }
  33% {
    background-color: #FF00FF;
    margin-left: -300px;
    margin-top: -50px;
    opacity: 0.1;
  }
  66% {
    background-color:#FFC000;
    margin-left: 100px;
    margin-top: 150px;
    opacity: .05
  }
  100% {
    background-color:#FF0000;
    opacity: 0;
  }
}