html {
  font-family: 'Tomorrow', sans-serif;
  font-size: 21px;
  word-spacing: 1px;
  box-sizing: border-box;
  color: white;
}

input, button {
  font-family: 'Tomorrow', sans-serif;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 30px;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mr {
  margin-right: 10px;
}

.box {
  display: inline-block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-right: 20px;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
    font-size: 1rem;
    flex-grow: 1;
    padding: 20px 30px;
    text-align: left;
  }

  svg{
    cursor: pointer;
    font-size: 35px;
    margin-left: 20px;

    &.secondary{
      color: gray;

      &:hover {
        color: white;
      }
    }
  }
}

.no-margin {
  margin: 0;
}

.with-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #660066;
    border: 1px solid white;
    cursor: pointer;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

::placeholder {
  color: gray;
  opacity: 1;
}

.drawer {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
  border: 0.5px solid white;
  border-bottom: 0;

  p {
    margin: 0;
  }

  &:hover {
    background-color: #604002;
  }
}

.break-word {
  word-break: break-all;
}

.bold {
  font-weight: bold;
}