*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Tomorrow', sans-serif;
  font-size: 21px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

body, a, button, input, textarea, select {
  font-family: 'Tomorrow', sans-serif;
  font-size: 1rem;
  background-color: transparent;
  color: white;

  .light &, .light {
    color: black;
  }
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input, select, textarea {
  padding: 10px 20px;
  width: 100%;
}

button, .square-button {
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 2.5px;

  .light & {
    border: 1px solid black;
  }
}

::placeholder {
  color: gray;
  opacity: 1;
}

.mr-s {
  margin-right: 5px !important;
}

.mr {
  margin-right: 10px !important;
}

.mb {
  margin-bottom: 5px !important;
}

.mb-m {
  margin-bottom: 12px !important;
}

.mb-l {
  margin-bottom: 30px !important;
}

.c-box {
  width: 95%;
  max-width: 800px;
  padding: 0 5px;
  text-align: left;

  svg{
    cursor: pointer;
    font-size: 35px;
    margin: 15px;

    @media (max-width: 768px) {
      margin: 10px;
    }

    &.secondary{
      color: gray;

      &:hover {
        color: white;

        .light & {
          color: black;
        }
      }
    }
  }
}

.u-pointer {
  cursor: pointer;
}

.u-noScroll {
  overflow: auto;
  -ms-overflow-style: none;
}

.u-noScroll::-webkit-scrollbar {
  display: none;
}

.u-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #660066;
    border: 1px solid white;
    cursor: pointer;

    .light & {
      border: 1px solid black;
      background-color: pink;
    }
  }
}

.u-border {
  border: 1px solid white;
  border-radius: 5px;

  .light & {
    border: 1px solid black;
  }
}

.u-inline-block {
  display: inline-block;
}

.u-flex-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.u-flex-grow {
  flex-grow: 1;
  max-width: 100%;
}

.tab {
  display: inline-block;
  padding: 12.5px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid white;

  .light & {
    border: 1px solid black;
  }

  &:hover {
    background-color: #604002;
    
    .light & {
      background-color: pink;
    };
  }
}

.u-break-word {
  word-break: break-all;
}

.u-bold {
  font-weight: bold;
}

.u-text-link {
  text-decoration: underline;
  cursor: pointer;
}

.u-text-small {
  font-size: 0.75rem;
}

p.u-text-warning {
  color: red;
}

.u-standard-width {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.u-hidden-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
