html {
  font-family: 'Tomorrow', sans-serif;
  font-size: 21px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

body {
  color: white;

  .light {
    color: black;
  }
}

a, button, input, , textarea, select {
  color: white;

  .light & {
    color: black;
  } 
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input, select, textarea {
  font-family: 'Tomorrow', sans-serif;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
}

button, .square-button {
  font-family: 'Tomorrow', sans-serif;
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 2.5px;

  .light & {
    border: 1px solid black;
  }
}

::placeholder {
  color: gray;
  opacity: 1;
}

.mr-s {
  margin-right: 5px !important;
}

.mr {
  margin-right: 10px !important;
}

.mr-m {
  margin-right: 15px !important;
}


.mb {
  margin-bottom: 5px !important;
}

.mb-m {
  margin-bottom: 12px !important;
}

.mb-l {
  margin-bottom: 30px !important;
}

.box {
  width: 95%;
  max-width: 800px;

  p {
    padding: 20px 15px;
    text-align: left;
  }

  svg{
    cursor: pointer;
    font-size: 35px;
    margin: 15px;

    @media (max-width: 768px) {
      margin: 10px;
    }

    &.secondary{
      color: gray;

      &:hover {
        color: white;

        .light & {
          color: black;
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.with-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #660066;
    border: 1px solid white;
    cursor: pointer;

    .light & {
      border: 1px solid black;
      background-color: pink;
    }
  }
}

.with-border {
  border: 1px solid white;
  border-radius: 5px;

  .light & {
    border: 1px solid black;
  }
}

.inline-block {
  display: inline-block;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.flex-grow {
  flex-grow: 1;
  max-width: 100%;
}

.tab {
  display: inline-block;
  padding: 10px 10px;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid white;
  border-bottom: 0;

  .light & {
    border: 1px solid black;
  }

  &:hover {
    background-color: #604002;
    
    .light & {
      background-color: pink;
    };
  }
}

.break-word {
  word-break: break-all;
}

.bold {
  font-weight: bold;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}

.text-small {
  font-size: 0.75rem;
}

p.text-warning {
  color: red;
}

.standard-width {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.hidden-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.circle-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 50%;
  margin-bottom: 30px;

  .light & {
    border: 1px solid black;
  }

  @media (max-height: 400px) {
    display: none;
  }

  svg {
    margin-top: 13px;

    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }
}